extends layout

block content
    div.row
        div#gameContent.col-md-6
            div#findGameContent
                div.panel.panel-info
                    div.panel-heading
                        h3.panel-title games board
                            span#gamesCountLbl.badge.right(title='active games', data-toggle='tooltip') 1
                    div#noGamesLbl.panel-body(style='display:none') no active games :(
                    ul#gameBoardLines.list-group
                button#createGameBtn.btn.btn-warning
                    span.glyphicon.glyphicon-chevron-right
                    |&nbsp;create new game
            div#gameAreaContent(style='display:none')
                table#gameTitleTable
                    tr
                        td#user1NameLbl(style="width:42%")
                        td.text-muted Vs
                        td#user2NameLbl(style="width:42%")
                    tr
                        td.cup
                            span#user1ScoreLbl
                        td
                        td.cup
                            span#user2ScoreLbl
                div#gameFieldLbl.tic-tac-toe
                    label.left.top
                    label.middle.top.cross
                    label.right.top.zero
                    label.left.center.cross.checked
                    label.middle.center.zero.checked
                    label.right.center
                    label.left.bottom
                    label.middle.bottom
                    label.right.bottom
                    div#gameOverlay(style='display:none')
                        div#gameInfoLbl
                        button#playAgainBtn.btn(style='display:none') play again
                    button#leaveGameBtn.btn.btn-info
                        span.glyphicon.glyphicon-chevron-left
                        |leave game
        div#chatContent.col-md-6
            div.panel.panel-info
                div.panel-heading
                    h3.panel-title chat room
                        span#usersOnlineCountLbl.badge.right(title='users online', data-toggle='tooltip') 1
                div#messageContainer.panel-body
                    div#messagesLbl
                div.panel-footer
                    div.input-group
                        input#messageTxt.form-control(type="text", placeholder="enter message", maxlength=300)
                        span.input-group-btn
                            button#addMessageBtn.btn.btn-info send


    script(type='template', id='userMessageTemplate').
        div
            span.text-muted [ #{title} ]
            span(style="color:cadetblue") #{userName}
            |#{message}

    //
    //
    //input#moveXText(type=text)
    //input#moveYText(type=text)
    //button#moveBtn move
    //<br>
    //div#boardLabel
    //<br>
    //div#movesLabel
